<div *ngIf="employee" class="container">
  <span>Id: {{ employee.id }}</span>
  <br />
  <span
    >Name: <b>{{ employee.name | uppercase }}</b></span
  >
  <br />
  <span>
    Contract Type: <b>{{ employee.contractTypeName }}</b>
  </span>
  <br />
  <span>
    Hourly Salary: <b>{{ employee.hourlySalary | currency }}</b>
  </span>
  <br />
  <span>
    Monthly Salary: <b>{{ employee.monthlySalary | currency }}</b>
  </span>
  <br />
  <span class="annualSalary">
    Anual Salary: <b>{{ employee.annualSalary | currency }}</b>
  </span>
</div>
