<div class="container">
  <p>
    <input type="text" [(ngModel)]="employeeId" /><br />
    <!-- <strong>You said: </strong> {{ employeeId }} -->
  </p>
  <p><button (click)="GetEmployees()">Get Employees</button></p>
</div>

<div class="container" *ngIf="!showList">
  <ul *ngIf="employee">
    <li>
      <app-employee-detail [employee]="employee"></app-employee-detail>
    </li>
  </ul>
</div>

<div class="container" *ngIf="showList">
  <ul *ngIf="employees">
    <li *ngFor="let employee of employees">
      <app-employee-detail [employee]="employee"></app-employee-detail>
    </li>
  </ul>
</div>
