ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;

  li {
    background: rgb(215, 215, 248);
    padding: 1em;
    margin-right: 10px;
    width: 25%;
    height: 200px;
    margin-bottom: 1em;
    display: flex;
    flex-direction: column-reverse;

    span {
      font-size: 0.8rem;
      margin: 0;
    }

    span.annualSalary {
      font-size: 0.9rem;
      flex-grow: 1;
    }
  }
}
